[Unit]
Description=Oracle Net Listener ({{ listener_name }})
After=network.target

[Service]
Type=forking
User={{ oracle_user }}
Group={{ oracle_group }}
Environment="ORACLE_HOME={{ oracle_home }}"
Environment="PATH={{ oracle_home }}/bin:/usr/bin:/bin"
ExecStart=/bin/bash -c "{{ oracle_home }}/bin/lsnrctl start {{ listener_name }}"
ExecStop=/bin/bash -c "{{ oracle_home }}/bin/lsnrctl stop {{ listener_name }}"
TimeoutStartSec=120
TimeoutStopSec=60
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
