[ENGINE]
# Silent install response file (WebLogic 14c example)
ResponseFileVersion=1.0.0.0.0

[GENERIC]
ORACLE_HOME={{ weblogic_home }}
INSTALL_TYPE="WebLogic Server"
SELECTED_LANGUAGES=en

[WEBLOGIC_INSTALL]
# Accept the license
DECLINE_EDITION_SELECTION=false

# Additional options can be added here
